
# The mysql host hostname
DB_HOST=localhost

# The mysql host port
DB_PORT=3306

# The mysql user name
DB_USER=root

# The mysql password
DB_PASSWORD=password

# Useful to circumvent browser same-origin policy during testing. Should be false or absent for
# production.
ALLOW_ALL_ORIGINS=true

# The local port to listen for requests on
LISTEN_PORT=3002

# The settlements service endpoint
SETTLEMENTS_ENDPOINT=http://localhost:4000/v1

# The central ledger service endpoint
CENTRAL_LEDGER_ENDPOINT=http://localhost:4001

# The casa settlement service endpoint
SETTLEMENT_MANAGEMENT_ENDPOINT=http://localhost:5000

# Dev/production
NODE_ENV=development

### ONLY SET TO TRUE FOR DEVELOPMENT USE ###
# Allow requests from any origin. Specifically, when true, reflects the origin protocol, hostname,
# port back to the requester in the Access-Control-Allow-Origin header. This is useful for
# testing and development, but should never be used in production as its important for preventing
# CSRF attacks.
CORS_ACCESS_CONTROL_REFLECT_ORIGIN=true

### ONLY SET TO TRUE FOR DEVELOPMENT USE ###
# If true, the Secure directive will not be set in the Set-Cookie header. This means the browser
# will be able to send the cookie over connections that are insecure. You may need this to develop
# locally when BYPASS_AUTH is true. In other words, you may need this to develop locally when
# developing/debugging login/auth.
INSECURE_COOKIE=true

# Bypass auth. Useful when running locally.
BYPASS_AUTH=true

#Authentical Server (WSO2IS)
AUTH_SERVER_CLIENTKEY=getfromauthserver
AUTH_SERVER_CLIENTSECRET=getfromauthserver
AUTH_SERVER=https://localhost
AUTH_SERVER_PORT=9443
AUTH_SERVICE=/oauth2/token
USERINFO_SERVICE=/oauth2/userinfo
VALIDATE_SERVICE=/oauth2/introspect
REVOKE_SERVICE=/oauth2/revoke

#Hub Report URLs
HUB_REPORT_URL_312=http://localhost:5000/jasperserver/rest_v2/reports/
HUB_REPORT_URL_644=http://localhost:5000/jasperserver/rest_v2/reports/
JASPER_USER=user
JASPER_PASSWORD=password

#feature flags
FEATURE_FLAG_TRANSFER_VERIFICATION=false

### JWS .pem keys required for signature header validation
# This should specify the name of the file that contains the key in .pem format
